table, th, td{
  border: 3px solid black;
}

table{
  border-collapse: separate;
}

th, td{
  border: none;
  text-align: center;
}
th{
  background-color: rgb(201, 22, 76);
}
.row-color{
  background-color: antiquewhite;
}

th{
  color: rgb(240, 234, 234);
}

.img{
  background-image: url(https://images.ctfassets.net/hrltx12pl8hq/28ECAQiPJZ78hxatLTa7Ts/2f695d869736ae3b0de3e56ceaca3958/free-nature-images.jpg?fit=fill&w=50&h=50);
  background-repeat: no-repeat;
  background-position: center;
}