@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.header{
  background-color: rgb(114, 113, 112);
  color: white;
  text-align: center;
  height: 130px;
}

h1{
  padding: 3px;
  font-family: 'Dancing Script' , sans-serif;
  font-size: 3em;
}

ul li{
  display: inline-block;
  margin-right: 2em;
}

ul li a{
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.container{
  width: 70%;
  margin: auto
}

.introduce{
  text-align: center;
  margin-top: 3em;
}

.skills{
  text-align: center;
  margin-top: 4em;
}

.skills p{
  background-color: rgb(230, 230, 230);
  padding: 1em;
}

.experience{
  text-align: center;
  padding-top: 2em;
}

.contact{
  text-align: center;
  padding-top: 2em;
}

.footer{
  background-color: rgb(114, 113, 112);
  color: white;
  text-align: center;
  padding: .8em;
  margin-top: 3em;
}
